{% load static %}

<!DOCTYPE html>

<head>

    <meta charset="utf-8" />
    <title>Modelo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom fonts for this template-->
    <link href="{% static 'base/vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'base/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" > 

    <!-- se queda por el momento para hacer funcionar el descargar de las tablas--> 
    <link rel="stylesheet" href=" {% static 'base/vendor/bootstrap/css/bootstrap.min.css' %}">
   

 {% block head %}     
 {% endblock head %}

  
</head>



<body id="page-top">

 

<!-- Page Wrapper -->
  <div id="wrapper">
     <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html"> 
        <div class="sidebar-brand-text mx-1">
          <img src="{% static "img/LOGO.png" %}" class="img-fluid">
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="/acercade">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>ACERCA DE.</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUno" aria-expanded="true" aria-controls="collapseUno">
          <i class="fas fa-fw fa-cog"></i>
          <span>PEDAGÓGICO</span>
        </a>
        <div id="collapseUno" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded"> 
            <a class="collapse-item" href="/pedagogicoManual">MANUAL</a> 
            <a class="collapse-item" href="/pedagogicoMasivo">MASIVO</a>  
          </div>
        </div>
      </li> 
 
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
          <i class="fas fa-fw fa-cog"></i>
          <span>PREDECIR</span>
        </a>
        <div id="collapseDos" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded"> 
            <a class="collapse-item" href="/predictivoManual">MANUAL</a>
            <a class="collapse-item" href="/predictivoMasivo">MASIVO</a>  
          </div>
        </div>
      </li> 

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsecuatro" aria-expanded="true" aria-controls="collapsecuatro">
          <i class="fas fa-fw fa-cog"></i>
          <span>TEXTO</span>
        </a>
        <div id="collapsecuatro" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded"> 
            <a class="collapse-item" href="/asentimiento">ANALISIS DE SENTIMIENTO</a>
          </div>
        </div>
      </li> 

       <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTres" aria-expanded="true" aria-controls="collapseTres">
          <i class="fas fa-fw fa-cog"></i>
          <span>APRENDER</span>
        </a>
        <div id="collapseTres" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded"> 
            <a class="collapse-item" href="/aprender">APRENDIZAJE</a>  
            <a class="collapse-item" href="/insumoBase">INSUMO BASE</a> 
          </div>
        </div>
      </li> 

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
   
     </ul>  

      <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar --> 
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <h5>{%  block titulo_pag %} Bienvenidos {%  endblock titulo_pag %}</h5>
            <div class="topbar-divider d-none d-sm-block"></div>
        </nav>
         
       <div class="container">
         <div class="alert alert-success" role="alert" id="success" style="display: none;"></div>
         <div class="alert alert-info" role="alert" id="info"  style="display: none;"></div>
         <div class="alert alert-warning" role="alert" id="warning"  style="display: none;"></div>
         <div class="alert alert-danger" role="alert" id="danger"  style="display: none;"></div>
        
          {% block content %} {% endblock %}
        
        </div> 
      </div>
    </div>
 
  </div> 

    
    
 
 <!-- Bootstrap core JavaScript-->
  <script src="{% static 'base/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'base/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 
  <!-- Core plugin JavaScript-->
  <script src="{% static 'base/vendor/jquery-easing/jquery.easing.min.js' %}"></script> 
  <!-- Custom scripts for all pages-->
  <script src="{% static 'base/js/sb-admin-2.min.js' %}"></script> 
   <!-- scripts para imprimir de los datatables-->
  <script type="text/javascript" src="{% static 'base/js/libs/jsPDF/jspdf.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'base/js/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js' %}"></script> 
  <script type="text/javascript" src="{% static 'base/js/tableExport.js' %}"></script>
   
  {% block scripts %} {% endblock %}

  {% block js_bootstrap %} {% endblock js_bootstrap %}
 
</body>
